.hidden { display: none;}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  .image7 {
    position: absolute;
    top: 73%;
    left: 56%;  
}

.opacity-85 {
  opacity: .85!important;
}

.efecto img {
  /*	transform: scale(1.5);*/
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /*	transition: transform .2s;*/
  animation: pines .6s infinite alternate;
  transform-origin: bottom;
}

@keyframes pines {
  to {
      transform: scale(1.5);
  }
}

.nav-link.rounded-pill:hover {
  animation: pulse infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
  background-color: #FF5252;
  color: #fff;
}

.readmorexd:hover {
  animation: tada infinite;
  animation-duration: 1s;
}

.corporative-red{
  background-color: #D50000!important;
}

.border-corporative {
  border-color: #D50000!important;
}

.btn-primary {
  background-color: #D50000!important;
}

.nav-link.active{
  background-color: #D50000!important;
}

body {
  color: #000000!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.text-secondary {
  color: #AD1457!important;
}

.text-info {
  color: #283593!important;
}

.text-danger {
  color: #C62828!important;
}

.text-warning {
  color: #F9A825!important;
}


body {
  background-color: #FAFAFA !important;
}

.w3-animate-zoom {animation:animatezoom 1s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.w3-animate-opacity{animation:opac 1s}@keyframes opac{from{opacity:0} to{opacity:1}}

.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}